/* START */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;

  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1;

  text-rendering: optimizeSpeed;

  color: hsl(0, 0%, 100%);
  background-color: hsl(233, 47%, 7%);

  display: flex;
  align-items: center;
  justify-content: center;
}

img,
picture,
video,
canvas,
svg {
  max-inline-size: 100%;
  block-size: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

.container {
  max-width: calc(1070rem / 16);
  border-radius: 9px;
  overflow: hidden;
}

/* START */

/* GRID */
.grid {
  display: grid;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
}

/* CONTENT */
.content {
  padding: calc(72rem / 16) calc(72rem / 16);

  background-color: hsl(244, 38%, 16%);
}

.heading {
  margin-bottom: calc(24rem / 16);

  font-size: calc(34rem / 16);
  line-height: 1.2;
}

.heading span {
  color: hsl(277, 64%, 61%);
}

.text {
  margin-bottom: calc(74rem / 16);
  padding-right: calc(64rem / 16);

  font-size: calc(14rem / 16);
  line-height: 1.7;

  color: hsla(0, 0%, 100%, 0.6);
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: calc(12rem / 16);
}

.flex-column p:first-child {
  font-size: calc(22rem / 16);
  font-weight: 700;
}

.flex-column p:last-child {
  font-size: calc(11rem / 16);
  font-family: Lexend Deca;
  text-transform: uppercase;
  letter-spacing: 1.2px;

  color: hsla(0, 0%, 100%, 0.6);
}

/* IMG */
.picture {
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;

  background-color: hsla(277, 85%, 31%, 0.624);

  position: absolute;
  top: 0;
  left: 0;

  z-index: 1;
}

.img {
  width: 100%;

  display: block;

  z-index: -999;
}

/* MEDIA QUERIES */
@media (max-width: 67em) {
  .grid-2-cols {
    grid-template-columns: 1fr;
  }

  .picture {
    grid-row: 1/1;
  }

  .container {
    max-width: calc(500rem / 16);
  }

  body {
    text-align: center;
  }

  .text {
    padding: 0;
  }

  .heading {
    font-size: calc(30rem / 16);
  }
}

@media (max-width: 32em) {
  .grid-3-cols {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: calc(24rem / 16);
  }

  .container {
    max-width: calc(500rem / 16);
  }

  .text {
    margin-bottom: calc(32rem / 16);
  }

  .flex-column {
    text-align: center;
  }

  .heading {
    font-size: calc(24rem / 16);
  }
}
/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
